body {
    font-size: 100%;
    padding: 80px 0
}

#outline-example {
    background-color: rgb(209, 160, 160);
    background-clip: content-box;
    padding: 12px;
    border: 6px solid rgb(202, 81, 81);
    box-shadow: 0 0 0 12px rgb(60, 202, 155);
    outline: 6px solid rgb(52, 52, 52);
    margin: 12px;
}

.max-min {
    margin-top: 40px;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    background-color: rgb(91, 148, 197);
}
         
.font {
    font-family: 'Courier New';
    font-weight: 300;
    line-height: 1.3;
    font-size: 48px;
    font-style: italic;
    font-variant: small-caps;
}

.p1 {
    font-size: 16px;
}

.p2 {
    font-size: 1em;
}

.p3 {
    font-size: 10vw;
}

.p4 {
    font: italic small-caps bold 12px/30px Georgia, serif;
}
